.divBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    .h1{
        margin-bottom: 0px;
        font-size: 2.5em;
    }
    .h3{
        margin-top: 0px;

        & span{
            color:goldenrod;
        }
    }
    .wordContainer{
        min-height: 40px;
        border: 5px solid;
        display: flex;
        padding: 1em 1em;
        & span{
            font-size: 2rem;
            border: 3px solid #000;
        }        
    }
}

