.divBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    .h1{
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 2.5em;
        text-align: center;
    }
    .h3{
        margin-top: 0px;
        & span{
            color:goldenrod;
        }
    }
    .wordContainer{
        height: 40px;
        border: 5px solid;
        display: flex;
        padding: 1em 1em;
        & span{
            height: clamp(20px,2rem,40px);
            font-size: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 3px solid #000;
            background-color: rgb(193, 179, 233);
            color: #000;
            text-transform: uppercase;
        }        
    }
    .letterContainer{
        & p{
            display: flex;
            flex-direction: row;

            & span{
                margin-left: 0.5em;
            }
        }
        & div{
            display: flex;
            justify-content: center;
            & input{
                margin: auto;
                width: 10px;
                height: 10px;
                padding: 0.5em;
                border-left-color: blue;
                border-top-color: yellow;
                border-right-color: red;
                border-bottom-color: green;
                display: flex;
                text-align: center;
                justify-content: center;    
                &:focus{
                    outline: none;
                }
            }
            & button{
                margin-top: 1rem;
            }
        }
    }
    .wrongLetterContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    }
}

