.title{
    padding: clamp(40px,2rem,64px);

    .name{
        width: 100%;
        
        text-align: center;
        font-size: 3.5em;
        transition: all 1s;
        color: #ccc;
    }

    &:hover .name{
        rotate: 30deg;
        color:#fff;
    }
}