html, body{
  height: 100%;
}
@media only screen and (max-width:500px){
  body{
     background-image: linear-gradient(
    180deg,
    rgba(9,35,175,1),
    rgba(0,0,0,1)
    );
  }
}
@media only screen and (min-width:501px){
  body{
  background-image: linear-gradient(
    315deg,
    rgba(9,35,175,1),
    rgba(0,0,0,1)
    );
  }
}
 
body{
  font-family: 'Times New Roman';
  margin: 0;
  padding: 0;

    color:rgb(193, 179, 233);
}

button{
  background: #1646a0;
  color: #ccc;
  padding: 0 48px;
  border: 2px solid #ccc;
  border-radius: 25px;
  height: 50px;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: 1s;
  

  &:hover{
    background-color: #0923af;
    border: 2px solid #fff;
    color: #fff

  }
}